/.idea/
.idea
out
*.iml

### Swift ###
# Xcode
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Add this line if you want to avoid checking in source code from the Xcode workspace
*.xcworkspace

### Xcode ###
### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# End of https://www.gitignore.io/api/swift,xcode,cocoapods

.DS_Store